@tailwind base;
@tailwind components;
@tailwind utilities;

/* Calendar CSS */
.react-calendar {
  width: 100% !important;
  border: none !important;
  font-family: "Quicksand", sans-serif !important;
}

.react-calendar__navigation__label__labelText {
  font-weight: 400 !important;
  font-size: 0.9rem !important;
}

.react-calendar__tile--active {
  background-color: rgba(218, 167, 73, 0.7) !important;
  color: #333b41 !important;
  font-weight: bold !important;
}

.react-calendar__tile--now {
  background-color: rgba(218, 167, 73, 0.2) !important;
  font-weight: bold !important;
}

.custom-calendar {
  width: 100% !important;
  border: none !important;
  /* padding: 1rem !important; */
  background-color: #e6dcc5 !important;
}

.dark .custom-calendar {
  background-color: #333b41 !important;
}

.react-calendar__navigation {
  display: flex !important;
  margin-bottom: 10px !important;
  height: 44px !important;
  align-items: center !important;
}

.react-calendar__navigation button {
  min-width: 30px !important;
  background: none !important;
  font-size: 16px !important;
  border-radius: 10px !important;
  transition: all 0.2s !important;
  padding: 5px !important;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: rgba(218, 167, 73, 0.2) !important;
}

.react-calendar__month-view__weekdays {
  text-align: center !important;
  font-size: 0.8rem !important;
  text-transform: uppercase !important;
  margin-bottom: 8px !important;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 0.5rem !important;
}

.react-calendar__month-view__weekdays__weekday abbr {
  text-decoration: none !important;
}

.react-calendar__tile {
  max-width: 100% !important;
  text-align: center !important;
  padding: 0.75rem 0.5rem !important;
  background: none !important;
  border-radius: 0.5rem !important;
  line-height: 1 !important;
  font-size: 0.7rem !important;
  position: relative !important;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: rgba(218, 167, 73, 0.3) !important;
}

.navigation-arrow {
  display: inline-block;
  transition: transform 0.2s;
}

.navigation-arrow:hover {
  transform: scale(1.2);
}

.dark .react-calendar__navigation button:enabled:hover,
.dark .react-calendar__navigation button:enabled:focus {
  background-color: rgba(217, 195, 146, 0.2) !important;
}

.dark .react-calendar__tile--active {
  background-color: rgba(217, 195, 146, 0.7) !important;
  color: #121417 !important;
}

.dark .react-calendar__tile--now {
  background-color: rgba(217, 195, 146, 0.2) !important;
}

/* -------------------------------------------------------------------------------- */
/* BigCadenlar CSS */

.rbc-btn-group:first-child {
  display: none !important;
}

.rbc-toolbar-label {
  text-align: right !important;
  padding: 0px 20px !important;
}

.rbc-btn-group:last-child {
  font-size: 13px !important;
}

.rbc-btn-group:last-child button {
  border: none !important;
  background-color: #d9c392 !important;
  margin-left: 2px !important;
}

.dark .rbc-btn-group:last-child button {
  border: none !important;
  background-color: #f2f4f6 !important;
  margin-left: 2px !important;
}

.rbc-toolbar button.rbc-active {
  background-color: #997739 !important;
  box-shadow: none !important;
}

.dark .rbc-toolbar button.rbc-active {
  background-color: #717f88 !important;
  box-shadow: none !important;
}

.rbc-time-view {
  border-color: none !important;
}

.rbc-time-header {
  display: block !important;
}

.dark .rbc-time-header {
  border-bottom: 1px solid #333b41 !important;
}

.rbc-time-header-content {
  border-left: 1px solid #e6dcc5 !important;
}

.dark .rbc-time-header-content {
  border-left: 1px solid #333b41 !important;
}

.rbc-header {
  font-weight: bold !important;
  color: #333b41 !important;
  padding: 10px 5px !important;
  border-bottom: 1px solid #e6dcc5 !important;
  text-align: center !important;
}

.dark .rbc-header {
  color: #f2f4f6 !important;
  border-bottom: 1px solid #333b41 !important;
}

.rbc-time-content {
  border: none !important;
}

.rbc-time-gutter.rbc-time-column {
  font-size: 12px !important;
  color: #121417 !important;
  text-align: center !important;
}

.dark .rbc-time-gutter.rbc-time-column {
  color: #f2f4f6 !important;
}

.rbc-time-gutter {
  font-size: 12px !important;
  text-align: center !important;
}

.rbc-time-gutter.rbc-time-column .rbc-timeslot-group {
  padding: 0px 20px !important;
}

.rbc-timeslot-group {
  background-color: #f9f2e6 !important;
}

.dark .rbc-timeslot-group {
  background-color: #333b41 !important;

  .rbc-day-slot {
    font-size: 14px !important;
  }

  .rbc-event {
    border: none !important;
    color: black !important;
    padding: 10px !important;
    margin: 10px !important;
    width: 99% !important;
  }

  .dark .rbc-event {
    color: #f2f4f6 !important;
    background-color: #333b41 !important;
    border-left: 3px solid !important;
  }

  .dark .rbc-event:nth-child(1) {
    border-left-color: #daa749 !important;
  }

  .dark .rbc-event:nth-child(2) {
    border-left-color: #d9c392 !important;
  }

  .dark .rbc-event:nth-child(3) {
    border-left-color: #997739 !important;
  }

  .dark .rbc-event:nth-child(4) {
    border-left-color: #f2f4f6 !important;
  }

  .rbc-event:nth-child(1) {
    background-color: #e2f8ff !important;
  }
  .rbc-event:nth-child(2) {
    background-color: #fefce8 !important;
  }
  .rbc-event:nth-child(3) {
    background-color: #f2f1ff !important;
  }
  .rbc-event:nth-child(4) {
    background-color: #fdf2fb !important;
  }
  .rbc-event:nth-child(5) {
    background-color: #e2f8ff !important;
  }
  .rbc-event:nth-child(6) {
    background-color: #fefce8 !important;
  }
  .rbc-event:nth-child(7) {
    background-color: #f2f1ff !important;
  }
  .rbc-event:nth-child(8) {
    background-color: #fdf2fb !important;
  }

  .rbc-event-label {
    color: gray !important;
    margin-bottom: 5px;
  }
}

.rbc-time-slot {
  border-top: 1px solid #f2f4f6 !important;
}

.dark .rbc-time-slot {
  border-top: 1px solid #333b41 !important;
}

.rbc-current-time-indicator {
  background-color: #daa749 !important;
  height: 2px !important;
}

.dark .rbc-current-time-indicator {
  background-color: #d9c392 !important;
}

.rbc-event {
  padding: 3px 5px !important;
  background-color: #f9f2e6 !important;
  color: #333b41 !important;
  border-radius: 4px !important;
  border-left: 4px solid #daa749 !important;
  font-size: 12px !important;
}

.dark .rbc-event {
  background-color: #333b41 !important;
  border-left: 4px solid #daa749 !important;
  color: #f2f4f6 !important;
}

.rbc-event-label {
  font-size: 10px !important;
  font-weight: bold !important;
}
